/* mouad */

table {
  border-collapse: collapse;
  width: 92%;
  border-collapse: collapse;
}
table {
  margin:auto; 
  margin-top: 20px;
  padding: 25px;
}


td, th {
  border: 1px solid black;
  padding: 8px;
  height: 50px;
}


th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  text-align: center;
  background: rgba(255, 42, 42, 0.299);
	color: white;
}
td {
  background-color: #fafafa8f;
  backdrop-filter: blur(20px);
}

