.infos {
  border: 0px solid black;
  width: 95%;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  font-size: 17px;
  background-color: #fafafa96;
  backdrop-filter: blur(25px);
  box-shadow: 0 0px 7px 0 rgba(0,0,0.3);
}
input[type=text],input[type=number],input[type=email] {
   border: 0px solid red;
   border-radius: 4px;
   outline: none;
   padding: 7px;
   box-sizing: border-box;
}
label {
  margin-left: 30px;
  margin-right: 20px;
}
input:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}


.infos button{
  float: right;
  margin: 5px;
  cursor: pointer;
  border: none;
  color: #FFF;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 14px;
  background: #FFDBB1;
  border: 0px solid black;
}


.class table 
{
   width: 90%;
   font-size: 17px;
   margin: 15px auto;
}
.class table, .class  th, .class  td {
  border-collapse: collapse;
  padding: 8px 9px;
  text-align: left;
  color: black;
  font-size: 20px;
  padding: 10px;
  padding-left: 10px;
}
.class th {
	background: rgba(94, 7, 7, 0.808);
  backdrop-filter: blur(20px);
	color: white;
}
.class th,.class td {
  border: solid 1px black;
}
.class td {
  background-color: #fafafa8f;
  backdrop-filter: blur(20px);
}